[Desktop Entry]
Type=Application
TryExec=/home/shaw/apps/alacritty/target/release/alacritty
Exec=/home/shaw/apps/alacritty/target/release/alacritty -t ""
Icon=terminal
Terminal=false

Name=Alacritty
GenericName=Terminal
Comment=A cross-platform, GPU enhanced terminal emulator
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=/home/shaw/apps/alacritty/target/release/alacritty -t "Alacritty"
