[Desktop Entry]
Name=Alacritty
Type=Application
Exec=alacritty -t "Alacritty"
Icon=terminal
Terminal=false
GenericName=Terminal
Comment=A cross-platform, GPU enhanced terminal emulator
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=alacritty -t "Alacritty"
