[Desktop Entry]
Comment=spotify console interface
Terminal=false
Name=spotify-tui
GenericName=Music Player Text User Interface
Exec=alacritty --class Spotify --config-file /home/shaw/.dotfiles/configs/alacritty/alacritty.yml-spotify-tui.elsie -e /home/shaw/.cargo/bin/spt
Type=Application
Icon=/usr/share/spotify/icons/spotify-linux-256.png
