[Desktop Entry]
Version=1.0
Type=Application
Name=Thunderbird
Icon=thunderbird
Exec="/home/shaw/Apps/thunderbird/thunderbird"
Comment=Email client
Categories=Application;Network;Email;
Terminal=false
MimeType=x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=Compose;Contacts
